body {
  background-color:#3a3a3a;
}

h1 {
  font-family: 'Lato', sans-serif;
  }

p, a {
  font-size:20px;
  margin:30px 0 0 0;
  color:#fff;
  /*font-family: 'Lato', sans-serif;*/
  font-family: 'Lato', sans-serif;
  text-align:center;
}

a, a:visited {
  color:#427fed;
}

ul li {
  list-style:none;
  border:1px solid #323232;
  padding:5px;
  margin-bottom:15px;
  margin-right:40px;
  background-color: #323232;
}

.tweet {
  width:100%;
}

.media img {
  max-width:250px;
  max-height:250px;
}

#linkage {
  position:fixed;
  top:0px;
  right:0px;
  background-color:#323232;
  color:#ffffff;
  text-decoration:none;
  padding-top:2px;
  padding-right:5px;
  padding-bottom:2px;
  width:10%;
  font-family:arial;
}