body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
p {
    margin: 0;
    padding: 10px 5%;
}
video {
    z-index: -9999;
    position: fixed;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    min-height: 100%;
    min-width: 100%;
}
.slide {
    box-sizing: border-box;
    height: auto;
    min-height: 100%;
    min-width: 100%;
    background-size: cover;
    box-shadow: inset 0 10px 10px rgba(0,0,0,.3);
}

.slide:nth-child(even) {
    background-attachment: fixed;
}
#team{
  background-color:#fff;
}
#need{
  background-color:#9FB8AD;
}
#app{
  background-color:#CED0CE;
}
#community{
  background-color:#fff;
}
#community-video{
  background-color:#9FB8AD;
}
#gen-motivations{
  background-color:#CED0CE;
}
#spec-motivations{
  background-color:#fff;
}
#reward-system {
    background-color:#9FB8AD;
}
#final {
   background-color:#CED0CE; 
}
